.after{
    color: brown;
}
.after > li {
    list-style: none;
}

.after > li::after{
content: " @ ";
}
.after > li::before{
    content: " * ";
    }

     .joke > li > a:link {
color: cadetblue;
     }

    a:link {
        color: darkorchid;

    }

    a:visited{
        color: darkseagreen;
    }

    .links > li > a:active{
        color: darkviolet;
    }

    h1:hover{
        color: firebrick;
        font-size: 10px;
    }

    span:empty{
        background-color: gold;
        width: 10px;
        height: 10px;
        display: inline-block;
    }

    /* .child> li:first-child{
        color: greenyellow;
        font-size: 20px;
    } */

    .child > ki:first-child(odd){
        color: hotpink;
         font-size: 25;
    }
