*{
    margin: 0;
    padding: 0;
}

.product{
    width: 250px;
    border: 1px solid black;
    border-radius: 5%;
    margin: 5px;
    padding: 5px;
}

.image{
    height: 100px;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;

}

.btns{
    display: flex;
    justify-content: space-around;
}