<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page2</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ysabeau:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
<body>
    <div class="wrapper">
        <header>
            <div class="color">
                <div class="text">
                     <span class="txt-header">Super Student</span>
                     <p class="headskill">Upgrade your English skills</p>                    
                </div>  
                <div class="logo">
                    <img id="logoSS" src="/src/assets/logoSS.png" alt="logoSS">
                </div>
            </div>

        </header>
        <div class="content">
            <nav>
                <ul>
                    <li>
                        <a id="main">Main</a>
                    </li>
                    <li>
                        <a id="page1">Game</a>
                    </li>
                    <li>
                        <a id="page2">Review</a>
                    </li>
                    <li>
                        <a id="page3">Teacher
                        </a>
                    </li>
                    <li>
                        <a id="page4">Contacts</a>
                    </li>
                </ul>
            </nav>
            <section>
                <div class="review">
                    <div class="name-photo">
                        <img>
                        <p class="name">Katya Nyashka</p>                        
                    </div>
                    <p class="revie">
                        i very mush like this school ity very cool lol z like ummmm english
                    </p>
                </div>
                <div class="review">
                    <div class="name-photo">
                        <img>
                        <p class="name">hater chine</p>                        
                    </div>
                    <p class="revie">
                       I HATE CHINA I HATE IT REAAAAAH
                    </p>
                </div>
                <div class="review">
                    <div class="name-photo">
                        <img>
                        <p class="name">Loka opipipoipip</p>                        
                    </div>
                    <p class="revie">
                        I started my experience in this school 3 mounths ago.I choose "myes" because I really liked its different way of learning english, with a Natural comprensione of language,
                        I could touch immediately a positive and fun atmosphere during class lessons, where everyone can speak about some argument.
                        The teachers are all native speaker with several years of teaching.
                        It was a really nice discovery.
                    </p>
                </div>
                <div class="review">
                    <div class="name-photo">
                        <img>
                        <p class="name">Alessia Bujard</p>                        
                    </div>
                    <p class="revie">
                        I’m over the moon with my host mother, Roxanna. She’s a lovely and funny person and she always cares about our comfort and necessities. I’m very well here and the most important thing is that I feel like I’m at home. She’s always very pleased to talk with all of us and help us if necessary. It definitely helps me to improve my English level.
                    </p>
                </div>
                <div class="review">
                    <div class="name-photo">
                        <img>
                        <p class="name">Jose Gregorio</p>                        
                    </div>
                    <p class="revie">
                        I had a wonderful experience with interacting withSuper Student. The staff was warm and friendly. I would especially like to recognise and thank Mr. Jorge Armas (IELTS Administrator) for his assistance along my journey with sitting the IELTS test. He was efficient and quick to solve any issues that arose with my registration. Thank you for going above and beyond to ensure that I was sorted out !!

                    </p>
                </div>
            </section>
            <aside></aside>
        </div>

        <footer></footer>
    </div>
</body>
</html>