.wrapper {
    display: flex;
}

.avataro {
    border-radius: 50%;
}

.edit {
    background-color: rgb(175, 200, 221);
    width: 300px;
    height: 50px;
}

.teti{
    font-size: larger;
    color: rgb(81, 81, 180);
}

.photo{
    border: 5px solid rgb(255, 0, 0);
    border-radius:10px;
    padding: 1cm;
    margin: 10px;
}

.w {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.friends{
    border: 5px solid rgb(234, 0, 255);
    border-radius:10px;
    padding: 0cm 1cm 0cm 1cm;
    margin: 0px 0px 0px 1px;
}

.ya {
font-size: 150%;
}

.border {
    border: 5px solid black;  
    margin: 10px;
}

.photos{
    border: 5px solid black;  
    width: 900px;
    height: 300px;
}

.py{
    width: 200px;
    height: 100px;
}

.smth{
    border: 3px rgb(0, 0, 0) solid;
    margin: 2px;
}

.head{
    display: flex;
}

.po{
    margin: 0px 6px 0px 6px;
}

.ava{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.friends{
    display: flex;
    width: 350px;
    height: 200px;
}

.text{
    justify-content: stretch;
}