@import './colors.scss';

header {
    width: 100%;
    align-items: baseline;
    background-color: rgb(255, 79, 79);
    display: block;
    // display: grid;
    // grid-template-columns: 1fr 5fr 2fr;
    
.logo_ss {
    
}

}