<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page3</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ysabeau:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
<body>
    <div class="wrapper">
        <header>
            <div class="color">
                <div class="text">
                     <span class="txt-header">Super Student</span>
                     <p class="headskill">Upgrade your English skills</p>                    
                </div>  
                <div class="logo">
                    <img id="logoSS" src="/src/assets/logoSS.png" alt="logoSS">
                </div>
            </div>

        </header>
        <div class="content">
            <nav>
                <ul>
                    <li>
                        <a id="main">Main</a>
                    </li>
                    <li>
                        <a id="page1">Game</a>
                    </li>
                    <li>
                        <a id="page2">Review</a>
                    </li>
                    <li>
                        <a id="page3">Teacher
                        </a>
                    </li>
                    <li>
                        <a id="page4">Contacts</a>
                    </li>
                </ul>
            </nav>
            <aside></aside>
        </div>

        <footer></footer>
    </div>
</body>
</html>