<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page3</title>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ysabeau:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
<body>
    <div class="wrapper">
        <header>
            <div class="color">
                <div class="text">
                     <span class="txt-header">Super Student</span>
                     <p class="headskill">Upgrade your English skills</p>                    
                </div>  
                <div class="logo">
                    <img id="logoSS" src="/src/assets/logoSS.png" alt="logoSS">
                </div>
            </div>

        </header>
        <div>
            <div class="nav-two">
                <nav>
                    <ul>
                        <li>
                            <a id="main">Main</a>
                        </li>
                        <li>
                            <a id="page1">Game</a>
                        </li>
                        <li>
                            <a id="page2">Review</a>
                        </li>
                        <li>
                            <a id="page3">Teacher
                            </a>
                        </li>
                    </ul>
                </nav> 
            </div>
            <div class="teacher">
                <div class="na-fam">
                    <p class="t-name"><b>Julia Rogozhkina</b></p>
                    <p class="t-info"><b>English teacher with 14 year work-experience</b></p>
                    <div class="info">
                        <p>She is the only teacher in school, was born in small town, nobody belived in she, but she love english very much so she became a english-teacher</p>
                        <p>For become really cool teacher she visited London, and now can make your otprisk speak english </p>
                        <p>Sun of the sleepless! Melancholy star!Whose tearful beam glows tremulously far,That show’st the darkness thou canst not dispel,How like art thou to joy remember’d well!Yet Hope again elastic springs,Unconquered, though she fell;Still buoyant are her golden wings,Still strong to bear us well. 
                        </p>
                        <p>
                            Spaghetti can be made by hand by manually rolling a ball of dough on a surface to make a long sausage shape. The ends of the sausage are pulled apart to make a long thin sausage. The ends are brought together and the loop pulled to make two long sausages. The process is repeated until the pasta is sufficiently thin. The pasta knobs at each end are cut off leaving many strands which may be hung up to dry
                        </p>
                        <p>
                            In front of the hospital are a line of police cars, Armsmaster, Miss Militia and Velocity arrived at the scene. They and the other heroes have been busy dealing with all the things that have been happening around the city. Which is in chaos right now as creatures and things right out of nightmares are walking around, which has the heroes and PRT stretch thin.
                        </p>
                        <p>
                            The three entered the hospital where they walk into the lobby that's empty but for the reception desk and someone watching the news from one of the tvs in the lobby. Most of the staff and people in the hospital had escape once the things took over, which from thwart the staff and people said, the things just let them go. But some of the patients couldn’t be moved and some of the staff had become trap in the hospital. Which is why the police or the PRT troops couldn’t move in.
                        </p>
                    </div>                    
                </div>
                <img class="mom-photo" src="../../assets/mama.jpg">


            </div>           
    <footer>
        <p>All right are unsaved, i dont have it</p>
        <p>Contacts:</p>
        <ul>
          <li>Phone:+375292337684</li>
          <li>tg:Yulechkagovnulechka</li>
          <li>inst:SuperStudent</li>
          <li>tt:urmom</li>  
        </ul>
    </footer>             
        </div>

    </div>

</body>
</html>