.pivs{
    height: 70px;
    width: 70px;
}

button{
    /* background-color: rgb(249, 255, 163); */
    color: rgb(0, 162, 255);
    border: 1px solid rgb(249, 255, 163);
    border-radius: 20px;

}
button:hover{
    cursor: pointer;
    /* background-color: rgb(255, 201, 125);
    color: rgb(8, 67, 144); */
}

.game, .game-count {
    display: none;
}