@font-face {
	font-family: 'Static';
	src: url('/fonts/static.eot'); /* IE 9 Compatibility Mode */
	src: url('/fonts/static.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('/fonts/static.woff2') format('woff2'), /* Super Modern Browsers */
		url('/fonts/static.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('/fonts/static.ttf') format('truetype'), /* Safari, Android, iOS */
		url('/fonts/static.svg#static') format('svg'); /* Chrome < 4, Legacy iOS */
}