<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Ysabeau:ital,wght@1,200;1,300&display=swap" rel="stylesheet">
    <body>
        <div class="wrapper">
            <header>
                <div class="color">
                    <div class="text">
                         <span class="txt-header">Super Student</span>
                         <p class="headskill">Upgrade your English skills</p>                    
                    </div>  
                    <div class="logo">
                        <img id="logoSS" src="/src/assets/logoSS.png" alt="logoSS">
                    </div>
                </div>
            </header>
            <div class="content">
                <nav>
                    <ul>
                        <li>
                            <a id="main">Main</a>
                        </li>
                        <li>
                            <a id="page1">Game</a>
                        </li>
                        <li>
                            <a id="page2">Review</a>
                        </li>
                        <li>
                            <a id="page3">Teacher
                            </a>
                        </li>
                        <li>
                            <a id="page4">Contacts</a>
                        </li>
                    </ul>
                </nav>
    <div class="wrapper">
        <div class="content">
            <section>
                <div class="question">
                    <p class="txt-click">
                        Click on correct translations of things you see on picture
                    </p>
                    <div>
                        <img id="q-img">
                    </div>
                    <div class="butns">
                        <button id="answer-btn-one"></button>
                        <button id="answer-btn-two"></button>
                        <button id="answer-btn-three"></button>
                    </div>
                </div>
                <div class="result">
                    <p>
                        Amount of correct answers:
                    </p>
                    <span>
                        1
                    </span>
                    <div>
                    <img class="heppy" src="../../assets/heppy.jpeg">                        
                    </div>

                </div>
                

            </section>
            <!-- <aside></aside> -->
        </div>

        <!-- <footer></footer> -->
    </div>
</body>
</html>