.wrapper{
   width: 500px; 
   height: 500px;
   gap: 5px;
   display: grid;
    grid-template-columns:150px  repeat(2,50px);
    grid-template-rows: 50px 100px 50px;
    grid-template-areas:
    "he he he"
    "ar va ad"
    "fo fo fo" ;
}

.header{
    background-color: cadetblue;
    grid-area: he;
}

.vaw{
    background-color: cadetblue;
    grid-area: va;
}

.ads{
    background-color: cadetblue;
    grid-area: ad;
}

.footer{
    background-color: cadetblue;
    grid-area: fo;
}

.article{
    background-color: cadetblue;
    grid-area: ar;

}
.wrapperO{
    grid-template-columns: repeat(2,1fr);
    grid-area: wr;

}